.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;

    background-color: #ffffff;

    border-bottom: 1px solid #e5e5e5;
}

.navbar-logo a {
    text-decoration:  none;
    color: black;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    text-emphasis: none;
    color: #333;
    font-weight: 500;
}

.navbar-links a:hover {
    color: #ff4081;
}